@import '../fonts/Fonts.css';





.data_viewer {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.12, -1.0, 2.0);
}


.data_viewer_bottom {
    -fx-background-color: white;

}

#button-cancel {
    -fx-background-color: red;
    -fx-text-fill: white;
}

#button-ok {
    -fx-background-color: #1C75BC;
    -fx-text-fill: white;
}