
.table-view .table-cell{
    -fx-alignment: CENTER;
}
.table-view .column-header .label{
    -fx-alignment: CENTER;
}

.table-view .table-row-cell{
    -fx-padding: 20 0 19 0;
}
#heading{
    -fx-font-size: 25px;
    -fx-font-family: 'Helvetica Rounded';
}
.table-view .scroll-bar{
    -fx-opacity: 0;
}
